h1,
p, div {
    font-family: Arial
}

#container {
    position: relative;
    left: 50px;
    width: 500px;
    height: 500px;
    border: 5px black solid;
    cursor: pointer;
}

#Ball {
    position: absolute;
    width: 100px;
    height: 100px;
}
